body {
  image-rendering: optimizeQuality;
  background-color: rgb(121, 79, 79);
  overflow: hidden;
}

.text {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 2px;
  background-color: rgb(222, 156, 156);
  border: 1px solid rgb(0, 0, 0);
}

.checkbox__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.checkbox__lable {
  display: flex;
  justify-content: space-around;
}
.checkbox {
  display: flex;
  justify-content: space-around;
}

.canvas {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.poster {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-radius: 0px;
  border-color: rgb(255, 255, 255);
}
